{% extends 'registration/../temp.html' %}

{% block title %} Logowanie - AwesomeBank {% endblock %}

{% block main_content %}
    {% if user.is_authenticated %}
    <h1>Wyślij przelew</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Wyślij</button>
    </form>
    <a href="{% url 'transfers_history' %}">Historia przelewów</a>
        <p><a href="{% url 'logout' %}">logout</a> </p>
    {% else %}
        <p>Nie jesteś zalogowany!</p>
        <a href="{% url 'login' %}">Zaloguj się</a>
        <a href="{% url 'signup' %}">Zarejestruj się</a>
    {% endif %}
{% endblock %}