{% extends 'registration/../temp.html' %}

{% block title %} Admin transfers confirmation {% endblock %}

{% block main_content %}
    <h1>Potwierdź wprowadzone dane</h1>
        <form method="post">
            {% csrf_token %}
            <table id="transfer_data">
                <tr>
                    <th>Odbiorca</th>
                    <th>Numer konta odbiorcy</th>
                    <th>Tytułem</th>
                    <th>Kwota</th>
                    <th>Data wysłania</th>
                 </tr>
            {% for t in transfers %}
                <tr>
                    <td>{{ t.recipient_name|safe }}</td>
                    <td id="account">{{ t.recipient_account|safe }}</td>
                    <td>{{ t.title|safe }}</td>
                    <td>{{ t.amount|safe }}</td>
                    <td id="date">{{ t.date|safe }}</td>
                </tr>
            {% endfor %}
            </table>
            <button type="submit">Wyślij przelew</button>
        </form>
{% endblock %}