{% extends 'registration/../temp.html' %}

{% block title %} Logowanie - AwesomeBank {% endblock %}

{% block main_content %}
    {% if user.is_authenticated %}
    <h1>Przelew wysłany pomyślnie</h1>
        {% csrf_token %}
            <table>
                <tr>
                    <th>Odbiorca</th>
                    <th>Numer konta odbiorcy</th>
                    <th>Tytułem</th>
                    <th>Kwota</th>
                    <th>Data wysłania</th>
                 </tr>
            {% for t in transfers %}
                <tr>
                    <td>{{ t.recipient_name|safe }}</td>
                    <td id="account">{{ t.recipient_account|safe }}</td>
                    <td>{{ t.title|safe }}</td>
                    <td>{{ t.amount|safe }}</td>
                    <td>{{ t.date|safe }}</td>
                </tr>
            {% endfor %}
            </table>
        <a href="{% url 'transfer_sending' %}">Powrót</a>
    {% else %}
        <p>Nie jesteś zalogowany!</p>
        <a href="{% url 'login' %}">Zaloguj się</a>
        <a href="{% url 'signup' %}">Zarejestruj się</a>
    {% endif %}
{% endblock %}