{% extends 'registration/../temp.html' %}

{% block title %} Logowanie - AwesomeBank {% endblock %}

{% block main_content %}
    {% if user.is_authenticated %}
    <h1>Potwierdź wprowadzone dane</h1>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Odbiorca</th>
                    <th>Numer konta odbiorcy</th>
                    <th>Tytułem</th>
                    <th>Kwota</th>
                    <th>Data wysłania</th>
                 </tr>
            {% for t in transfers %}
                <tr>
                    <td>{{ t.recipient_name }}</td>
                    <td>{{ t.recipient_account }}</td>
                    <td>{{ t.title }}</td>
                    <td>{{ t.amount }}</td>
                    <td>{{ t.date }}</td>
                </tr>
            {% endfor %}
            </table>
            <button type="submit">Wyślij przelew</button>
        </form>
    {% else %}
        <p>Nie jesteś zalogowany!</p>
        <a href="{% url 'login' %}">Zaloguj się</a>
        <a href="{% url 'signup' %}">Zarejestruj się</a>
    {% endif %}
{% endblock %}