* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("bckgrnd.jpg");
    background-size: cover;
    overflow: scroll;
}

.bank-name {
    font-size: 8em;
    text-decoration-style: solid;
    text-align: center;
}

.main{
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    height: 50%;
    padding: 10%;
}